<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Home Page</title>
    </head>
    <body style="text-align: center; margin: auto 0;">
        <img src="./static/images/online.svg">
        <h1>Online</h1>
        <p>Nice, I'm is online.</p>
        <div id="version"></div>
        <br />
        <button type="button" id="skip_waiting">
          Skip waiting
        </button>
        <button type="button" id="get_version">
          Get current SW version
        </button>
        <button type="button" id="clients_claim">
          Clients claim
        </button>
        <button type="button" id="update">
          Update
        </button>
        <script src="/static/js/bootstrap.js"></script>
    </body>
</html>
